h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 130px;
    text-align: center;
}
p{
    text-align: center;
}
body{
    background-color: bisque;
}
@media(max-width:1250px) and (min-width:1200px){
body{
    background-repeat:repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
    text-align: center;
    height: 1700px;
    width: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
img{
    height: 300px;
    width: 300px;
    border-radius: 10vh;
    
}
.masharap{
    height: 270px;
    width: 500px;
    font-size: 25px;
    background-color: aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.marasa{
    height: 270px;
    width: 500px;
    font-size: 25px;
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.yummy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delicious{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gel{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
}
.masalap{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ol{
    height: 250px;
    width: 300px;
    background-color: aqua;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.devoured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(max-width:1250px){
    .divine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    body{
    
    }
}
nav{
    background-color: khaki;
    text-align: center;
}
.hahalo{
   font-size: 70px; 
   text-align: center;
}
.loka{
    text-align: center;
    font-size: 40px;
}
.pic{
    text-align: center;
}